DB_HOST="localhost"
DB_USER="root"
DB_PASS=''
DB_PORT=3306
DB_DBNAME=pickify
ADMIN_EMAIL=pickify@gmail.com
ADMIN_DEFAULT_PASS=pickify@123
SECRET_KEY=pickify
NEXT_PUBLIC_USER_API_ASSETS_URL=http://localhost:3000/api/files
NEXT_PUBLIC_USER_API=http://localhost:3000